html {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #ffffcc;
  font-family: sans-serif;
}
#authenticated {
  height: 100%;
  width: 100%;
}
#cakes {
  width: 25%;
  overflow: hidden;
  text-align: center;
  height:95%;
  overflow:scroll;
  overflow-x:hidden;
  padding: 30px 30px 12px 30px;
  color: #fff;
  background-color: #7766d7;
  border: 4px solid #9387f2;
  float: left;
  border-radius: 5px;
}
#cakes h3 {
  margin: 15px 0 15px 0;
  text-transform: uppercase;
}
#cakes img {
  max-width: 300px;
}
#addcake {
  max-width: 400px;
  padding: 30px 30px 12px 30px;
  color: #fff;
  background-color: #7766d7;
  border: 4px solid #9387f2;
  border-radius: 5px;
  margin-left: 80px;
  margin-top: 100px;
}
#container {
    height: 95%;
    text-align: center;
    margin-left: 30px;
}

form {
  display:flex;
  flex-direction:column;
  align-items:left;
  justify-items:left
}

input {
  margin-bottom: 15px;
}